<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
   
</head>
<body>
<div class="container">
 <h1>hello there how are doing</h1>
    <form action="post">
        <div class="form-control">
        <label for="title">Title</label> 
        <input type="text" id='title'>
    </div>
    <div class="form-control">
        <label for="description">description</label> 
        <input type="text" id='description'>
    </div> 
    <div class="form-control">
        <label for="author">Author</label> 
        <input type="text" id='author'>
    </div>
    <div class="form-control">
        <label for="markdown">Markdown</label> 
        <textarea type="text" id='markdown'>
    </div>
    
    </form>
    <button type="submit" class='btn btn-primary'>Save</button>
</div>
    
</body>
</html>